[project]
name = "{{ project_name }}"
version = "{{ project_version }}"
description = "{{ project_description }}"
authors = [
    {name = "{{ user_name }}", email = "{{ user_email }}"}
]
readme = "README.md"
requires-python = ">=3.12"
dynamic = [ "dependencies" ]


[build-system]
requires = ["poetry-core>=2.0.0,<3.0.0"]
build-backend = "poetry.core.masonry.api"


[tool.poetry.dependencies]
django = "^{{ django_version }}"
{%- if django_extensions %}
django-extensions = "^3.2.0"
{%- endif %}
{%- if django_model_utils %}
django-model-utils = "^5.0.0"
{%- endif %}
environs = {extras = ["django"], version = "^14.1.1"}
{%- if database == "postgresql" %}
psycopg = "^3.2.0"
{%- endif %}
{%- if database == "mysql" %}
mysqlclient = "^2.2.0"
{%- endif %}
