# {{ project_name }}

{{ project_description }}


## Installed packages

Additional packages are used beside django.

### django

The scaffolding framework for the project.

### environs

Read settings and secrets from environment file `.env`.
